[Unit]
Description = Backend Service

[Service]
User=expense
Environment=DB_HOST="mysql-dev.aws82s.online"
Environment=DB_USER="root"
Environment=DB_PASSWORD="Zc4v!Hf8>aJiR2ecm<tImI8EuW?v"
ExecStart=/bin/node /app/index.js
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target
